.navBody {
  background: #4a4848;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  max-height: 15.3%;
  z-index: 10;
}

.header {
  font-family: monospace;
  text-align: center;
  font-size: 33px;
  color: whitesmoke;
}
