.homeBody {
  background: url('https://cdn.dribbble.com/users/2234174/screenshots/5499433/tropical-birds-dribbble.gif');
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 84.7%;
  text-align: center;
}

.welcomeHeader {
  font-size: 20px;
  color: orangered;
}

.tripList {
  background-color: #ffffff87;
  margin: 0 auto;
  border-radius: 25px;
  width: 25%;
  list-style: none;
}
