body {
  font-family: sans-serif;
  min-height: 100vh;
  /* background-color: white; */

  background-image: url(https://images.unsplash.com/photo-1482706917367-8e3a5d55a791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);

  background-size: 100%;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  /* background-color: #ffffffe0; */
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}

#title {
  font-family: monospace;
  text-align: center;
}

.layoutContainer {
  display: flex;
  flex-direction: row;
  /* flex: 50%; */
  /* background-color: #f8f9fa; */
}

.trips {
  padding-left: 50px;
}

.layoutContainer img {
  min-height: 100vh;
}

.layoutContainer h3 {
  font-size: 150px;
  padding-left: 30px;
  padding-top: 20px;
}

.layoutContainer p {
  font-size: 50px;
}

li {
  list-style-type: none;
}

#mainPage {
  background-color: transparent;
}

#mainTitle {
  font-family: monospace;
  color: #ffffffe0;
  text-align: center;
  font-size: 15em;
}

#mainDescription {
  text-align: center;
  color: #ffffffe0;
  font-size: 1.5em;
  padding: 0.5em;
}

#lowerDescription {
  text-align: center;
  color: #ffffffe0;
  font-size: 1.25em;
  padding: 0.5em;
}
